.content {
  width: 30rem;
  margin: auto;
  margin-top: 2rem;
}
.ranks {
  display: flex;
  justify-content: space-around;
  .rank {
    ul {
      margin-top: 1rem;
      li {
        margin-bottom: 0.8rem;
        cursor: pointer;
        font-size: 1rem;
      }
    }
  }
}
