.rank-content {
  font-size: 1rem;
  margin-top: 0.1rem;
  .rank-wrap {
    display: flex;
    .rank-title {
      width: 10rem;
      margin-right: 5rem;
      margin-top: 2rem;
    }
    .ranks {
      margin-top: 0.5rem;
      .rank {
        font-size: 0.5rem;
        ul {
          margin-top: 0.2rem;
          li {
            margin-bottom: 0.2rem;
          }
        }
        &:first-child {
          margin-right: 4rem;
        }
      }
    }
  }
}
